<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Ver Ramo.</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="subjectForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item lines="full" hidden>
      <ion-label position="floating">ID</ion-label>
      <ion-input  formControlName="_id" type="text" ></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="name" type="text" ></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Código</ion-label>
      <ion-input formControlName="code" type="text"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Profesor</ion-label>
      <ion-input formControlName="teacher" type="text"></ion-input>
    </ion-item>


    <ion-row>
      <ion-col>
        <ion-button type="submit" color="success" expand="block">Editar Ramo</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>