<ion-header>
  <ion-toolbar>
    <ion-title>LISTADO DE SUBCATEGORIAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let subcategory of subcategories" class="transp">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Nombre: {{subcategory.name}}</ion-card-title>
          <ion-card-subtitle>Categoria: {{subcategory.category?.name}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>Descripción: {{subcategory.description}}</ion-card-content>
        <ion-card-content>            
          <ion-button (click)="showConfirmAlert(subcategory._id)" class="ion-float-right" color="danger"><ion-icon name="trash"></ion-icon></ion-button>
          <ion-button (click)="editSubcategory(subcategory)" class="ion-float-center" color="secondary"><ion-icon name="pencil-outline"></ion-icon></ion-button>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
        
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="createSubcategory()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>