<ion-header>
  <ion-toolbar>
    <ion-title>USUARIOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    
    <ion-item *ngFor="let user of users">
      
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>{{user.name}}</ion-card-subtitle>
          <ion-card-subtitle>{{user.surname}}</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          <h3>Año Ingreso:</h3>
          {{user.year}}
        </ion-card-content>
        <ion-card-content>
          <h3>Correo</h3>
          {{user.mail}}
        </ion-card-content>
        <ion-card-content>
          <h2>
            Accion:
            <ion-button (click)="showConfirmAlert(user._id)" class="ion-float-right" color="danger"><ion-icon name="trash"></ion-icon></ion-button>
            <ion-button (click)="editUser(user)"class="ion-float-center" color="secondary"><ion-icon name="create"></ion-icon></ion-button>
          </h2>
          
        </ion-card-content>
    
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="createUser()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
