<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Crear categoría.</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="categoryForm" (ngSubmit)="submitForm()">
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input  formControlName="name" type="text" ></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Descripción</ion-label>
      <ion-input formControlName="description" type="text"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="success" expand="block">Crear categoría</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
