<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="closeModal()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
  </ion-buttons>
    <ion-title>Crear Subcategoría.</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="subcategoryForm" (ngSubmit)="submitForm()">
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input  formControlName="name" type="text" ></ion-input>
    </ion-item>


    <ion-item lines="full">
      <ion-label position="floating">Descripción</ion-label>
      <ion-input formControlName="description" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Categoria</ion-label>
      <ion-select [compareWith]="compareWith">
        <ion-select-option [value]="category._id" *ngFor="let category of categories">{{category.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="success" expand="block">Añadir Subcategoría</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>