
  


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-card class="opa" style="width: 50%;position: absolute;text-align: center;">
        <ion-card-title style="text-align: center;">
          <img style="width: 150px; height: 150px;" src="../../../assets/images/logo_ucm.png"/>
        </ion-card-title>
        <ion-icon name="person-circle-outline" style="width: 150px; height: 150px;color: rgb(25, 101, 199);" ></ion-icon>
        <h3 >
          LOGIN
        </h3>
        <ion-card-content>
          <ion-input type="text" [(ngModel)]="user.rut"  placeholder="Rut" style="background-color: rgb(255, 255, 255);"></ion-input>
        </ion-card-content>
        <ion-card-content>
          <ion-input type="password" [(ngModel)]="user.password"  placeholder="Contraseña"></ion-input>
        </ion-card-content>
        <ion-card-content >
          <ion-button  (click)="login(user)" size="medium" class="color-deg" style="text-align: center;" shape="round" fill="outline" style="color: whitesmoke;">Iniciar Sesión</ion-button>
        </ion-card-content>
        <ion-card-content>
          O
        </ion-card-content>
        <ion-card-content>
          <ion-button size="small" color="secondary" (click)="register()">Registrar</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>

