<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card class="opa">
    <ion-card-content>
      <ion-input type="text" [(ngModel)]="user.rut"  placeholder="Rut"></ion-input>
    </ion-card-content>
    <ion-card-content>
      <ion-input type="password" [(ngModel)]="user.password"  placeholder="Contraseña"></ion-input>
    </ion-card-content>
    <ion-card-content >
      <ion-button  (click)="login(user)" expand="block" class="color-deg" style="text-align: center;" shape="round" fill="outline" style="color: whitesmoke;">Iniciar Sesión</ion-button>
    </ion-card-content>

  </ion-card>
</ion-content>

