<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido al sistema de Incidencias UCM</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="card-background-page" >
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card style="width: 80%;">
          <img src="../../../assets/images/fondo_ucm.jpg"/>
          <div class="card-title" style="color: whitesmoke;">Nueva Incidencia</div>
          <div class="card-subtitle" style="color: black;">
            Si tienes algun problema
            debes reportarlo aqui
          </div>
          <div class="card-button">
            <ion-button color="warning"><ion-icon name="add"></ion-icon></ion-button>
          </div>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card style="width: 73%;">
          <img src="../../../assets/images/ucm_blanco.jpg"/>
          <div class="card-title" style="color: grey;">Ver Estado de Mis Incidencias</div>
          <div class="card-subtitle" style="color: black;">
            ¿Ya reportaste tu problema?
            Aqui puedes ver el estado actual
          </div>
          <div class="card-button">
            <ion-button color="primary"><ion-icon name="eye"></ion-icon></ion-button>
          </div>
        </ion-card>
    
      </ion-col>
    </ion-row>
    <ion-row>
      
    </ion-row>
  </ion-grid>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="newProblem()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
<app-register></app-register>