<ion-header>
  <ion-toolbar>
    <ion-title>INCIDENCIA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="opa">
    <ion-card-header>
      <ion-card-title>INFORMACION DEL ALUMNO</ion-card-title>
    </ion-card-header>
    <ion-card-content>Nombre Alumno</ion-card-content>
    <ion-card-content>Rut</ion-card-content>
    <ion-card-content>Correo</ion-card-content>
    <ion-card-content>Año Ingreso</ion-card-content>
  </ion-card>
  
  <ion-card class="opa">
    <ion-card-header>
      <ion-card-title>DETALLE INCIDENCIA</ion-card-title>
    </ion-card-header>
    <ion-card-content>Descripción</ion-card-content>
    <ion-card-content>Fecha de Creación</ion-card-content>
    <ion-card-content>Estado</ion-card-content>
    <ion-card-content>Categoria</ion-card-content>
    <ion-card-content>Subcategoria</ion-card-content>
  </ion-card>
  <ion-card-content class="center">
    <ion-button class="color-deg" shape="round" fill="outline" style="color: whitesmoke;">
      <ion-icon name="arrow-redo-outline" style="color: whitesmoke;"></ion-icon>
      Responder
    </ion-button>
  </ion-card-content>
  

</ion-content>
