<ion-header>
  <ion-toolbar>
    <ion-title>INCIDENCIA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Información del alumno</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>Nombre Alumno</ion-card-content>
    <ion-card-content>Rut</ion-card-content>
    <ion-card-content>Correo</ion-card-content>
    <ion-card-content>Año Ingreso</ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>DETALLE INCIDENCIA</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>Descripción</ion-card-content>
    <ion-card-content>Fecha de Creación</ion-card-content>
    <ion-card-content>Estado</ion-card-content>
    <ion-card-content>Categoria</ion-card-content>
    <ion-card-content>Subcategoria</ion-card-content>
  </ion-card>

 
  <ion-button class="color-deg" style="text-align: center;" shape="round" fill="outline" style="color: whitesmoke;">
    <ion-icon name="arrow-redo-outline" style="color: whitesmoke;"></ion-icon>
    Responder
  </ion-button>

</ion-content>
